.header-container {

  background: #000;

  .header-banner {
    background: url("../media/images/video-poster.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 900px;
  }

}

