@import "../variables";
@import "../deals";

.home-info {
  margin-top: 30px;
  h3 {
    color: $black;
    font-family: $header-font;
  }

  p {
    color: $darkgrey;
    text-align: justify;
  }

  .why-247 {

    h2 {
      color: $black;
    }

    figure {
      svg {
        display: inline-block;
      }
      figcaption {
        display: inline-block;
        margin-left: 20px;
        vertical-align: top;
        color: $black;
      }
    }

  }

}

.further-info {
  margin-top: 30px;
}