@import "../variables";
@import "../fonts";
@import "../mixins";

.banner-wrapper {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  width:100%;

  #video-banner {
    @include banner-element;
  }

  .hero-text {
    @include banner-element;
    h1 {
      @include banner-hero-text;
      font-family: $header-font;
      font-size: 60px;
      color: $lightgrey;
      text-shadow: $text-shadow;
      @media(max-width: $sm) {
        font-size: 2.5em;
        top: 35%;
      }
    }
    h2 {
      @include banner-hero-text;
      font-family: $text-font;
      @media(max-width: $sm) {
        font-size: 1.5em;
        top: 35%;
      }
    }
  }

  .banner-nav-holder {
    @include banner-element;
    .navbar-nav {
      position: relative;
      z-index: 2;
      margin-left: 7%;
      a.nav-link {
        color: $white !important;
        cursor: pointer;
        font-family: $text-font;
        font-weight: 100;
        transition: opacity 1s ease-out;
        text-shadow: $text-shadow;
        &:hover {
          opacity: 0.7 !important;
          text-decoration: underline;
        }
      }
    }
  }

  .banner-logo-holder {
    @include banner-element;
    .banner-logo {
      position: absolute;
      bottom: 10px;
      right: 6%;
      width: 100px;
      z-index: 1;
      transition: width 1s ease-out;
      @media(max-width: $md) {
        width:50px;
      }
    }
  }

  .banner-email-signup {
    @include banner-element;
    .form-inline {
      position: relative;
      z-index: 2;
      top: 48%;
      text-align: center;
      color: $white;
      font-family: $text-font;
      text-shadow: $text-shadow;
      transition: top 1s ease-out;
      #signup-email {
        margin-right: 10px;
        color: darken($black, 20%);
        &::-webkit-input-placeholder {
          color: darken($black, 10%);
        }
        &:-moz-placeholder {
          color: darken($black, 10%);
        }
        &::-moz-placeholder {
          color: darken($black, 10%);
        }
        &:-ms-input-placeholder {
          color: darken($black, 10%);
        }
      }
      .signup-btn {
        background-color: $lightred;
        transition: background-color 1s ease-in;
        &:hover {
          background-color: $darkred;
        }
      }
      .email-subtitle {
        margin-top: 10px;
      }

      @media(max-width: $xl) {
        top: 52%;
      }

      @media(max-width: $lg) {
        top: 58%;
      }

      @media(max-width: $md) {
        top: 62%;
      }

    }

    @media(max-width: $sm) {
      display: none;
    }
  }
}