@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/GothamRounded-Light.eot");
  src: url("../fonts/GothamRounded-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/GothamRounded-Light.woff") format("woff"),
  url("../fonts/GothamRounded-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Gotham-Medium.woff") format("woff"),
  url("../fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}